@charset "UTF-8";
/*====================== М И К С И Н Ы ===========================*/
/*====================== КОНЕЦ М И К С И Н Ы ===========================*/
/*========================== Обнуление ===========================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*========================== КОНЕЦ Обнуления ===========================*/
body {
  color: white;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  font-family: Graphik;
  color: #000000;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1030.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/*=================  H  E  A  D  E  R  ==================*/
/*=================ЛОГОТИП,  ВЕРХНЕЕ СЕРОЕ МЕНЮ, ТЕЛЕФОН==================*/
.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.block__greymenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block__greymenu_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.block__greymenu_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.block__element {
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8890a1;
  margin: 45px 40px 0px 0px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-image: url(../img/logo.png);
  margin: 15px 51px 12px 0px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.block__fhone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
}

.content__fhone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #ff5d39;
  font-weight: 500;
  white-space: nowrap;
}

a:hover {
  color: #003db1;
}

/*========================РАЗДЕЛЯЮЩАЯ ЛИНИЯ========================*/
hr {
  padding: 0;
  border: none;
  background-color: rgba(136, 144, 161, 0.2);
  height: 1px;
}

/*===================== КОНЕЦ  H E A D E R ========================*/
/* ================= ФОРМА ПОИСКА ================= */
form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

input {
  width: 0;
  padding: 0 30px 0 0px;
  background: none;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  -o-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

input:focus {
  width: 100px;
  z-index: 1;
  border-bottom: 1px solid rgba(136, 144, 161, 0.2);
}

.buttonsearch {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.buttonsearch:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 14px;
  color: #8890A1;
}

/* ================= КОНЕЦ ФОРМЫ ПОИСКА ================= */
/*================ ВЫПАДАЮЩЕЕ М Е Н Ю =================*/
.header-burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}

.header-menu {
  width: auto;
  position: relative;
  font-family: Graphik;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 23px 0px 17px 0px;
  text-decoration: none;
}

.header-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-link {
  font-weight: 500;
  color: black;
  margin: 0px 48px 0px 0px;
}

.submenu-list {
  display: none;
  position: absolute;
  left: 0;
  top: 14px;
  background-color: white;
  height: 395px;
  width: 100%;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.submenu-list hr {
  margin: 17px 0px 28px 0px;
}

.submenu-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submenu-collumn {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.submenu-link {
  font-weight: 200;
  color: #003db1;
  font-size: 14px;
  margin-bottom: 20px;
}

.h3 {
  color: black;
  font-weight: 500;
  text-align: center;
  margin: 13px 0px 0px 0px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  background-color: #003db1;
  width: 270px;
  height: 70px;
  color: white;
  font-size: 1.2em;
}

body.mouse .header-list > li:hover .submenu-list {
  display: block;
}

body.touch .submenu-list.open {
  display: block;
}

/*====================   К О Н Е Ц  ВЫПАДАЮЩЕГО М Е Н Ю =======================*/
/*================ СОДЕРЖАНИЕ СТРАНИЦЫ ===================*/
/*==================== слайдер ======================*/
.mainscreen {
  /* Back Main screen */
  width: 100%;
  height: 590px;
  background-color: rgba(136, 144, 161, 0.2);
  margin-bottom: 74px;
}

.mainscreen .slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 590px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Graphik;
  color: black;
}

.mainscreen .content-slider__left h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  margin-top: 12%;
}

.mainscreen .content-slider__left h2 {
  font-weight: 200;
  font-size: 18px;
  line-height: 25px;
  color: #8890a1;
  margin-top: 4%;
}

.mainscreen .content-slider__left .button {
  margin-top: 6%;
}

.mainscreen .content-slider__left .pagination {
  margin-top: 5%;
}

.mainscreen .content-slider__right {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.mainscreen .slider__image {
  text-align: right;
}

/*==============  конец слайдера =============*/
/*============== текст УСЛУГИ... ============*/
.title {
  font-size: 35px;
  font-weight: 700;
}

/*============== блоки БРОКЕРСКОЕ ОБСЛУЖИВАНИЕ и ЕВРООБЛИГАЦИИ ============*/
.fotolink-content {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fotolink-content .block-and-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 570px;
  margin-top: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid rgba(136, 144, 161, 0.2);
}

.fotolink-content .block-and-arrow .fotolink-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #acaccd;
  background: url(../img/top1.png) no-repeat right bottom #acaccd;
  height: 360px;
}

.fotolink-content .block-and-arrow .fotolink-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/top2.png) no-repeat right bottom #bea08b;
  height: 360px;
}

.fotolink-title {
  color: white;
  margin: 7% 0px 0px 29px;
  max-width: 60%;
}

.fotolink-title .title-top {
  text-transform: uppercase;
  font-size: 12px;
}

.fotolink-title .title-middle {
  margin: 16% 0px 0px 0px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.fotolink-title .title-buttom {
  margin: 8% 0px 0px 0px;
  font-size: 14px;
  line-height: 20px;
}

.block-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(136, 144, 161, 0.1);
  border: 1px solid rgba(136, 144, 161, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 29px 20px 29px;
  font-size: 18px;
  font-weight: 500;
  color: #8890a1;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*=======заголовки блоков КУРС валют и МОНЕТЫ*=======*/
.container-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.container-title .exchange-monets-title {
  max-width: 570px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 18px;
}

.container-title .exchange-monets-title .block-first-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px 20px 0px;
}

.container-title .exchange-monets-title .block-first-title .first-title {
  font-weight: 500;
  margin: 0px 20px 0px 20px;
  color: #ff5d39;
}

.container-title .exchange-monets-title .block-first-title .date {
  color: #8890a1;
}

/*============== блоки КУРС ВАЛЮТ и МОНЕТЫ ============*/
.block-foto {
  background: white;
  height: 430px;
}

.block-foto > img {
  max-width: 100%;
  padding: 29px;
}

/*============= блок КАРТЫ =============*/
.block-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/cards.png) no-repeat right bottom rgba(136, 144, 161, 0.1);
  margin: 30px 0px 30px 0px;
  height: auto;
}

.slider-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 0px 25px 40px;
}

.textlink {
  color: #003db1;
  font-weight: 500;
}

.button {
  margin-top: 10px;
}

/*========= сайдбар 1 ======*/
.sidebar-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 370px;
  margin-bottom: 30px;
}

.sidebar-column-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/fhone.png) #f4f4f6 no-repeat right bottom;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 30px 0 0;
}

.sidebar-column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/rock1.png) #f4f4f6 no-repeat right bottom;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 0px 30px;
}

.sidebar-text {
  max-width: 350px;
  padding: 30px 30px 0px 40px;
}

.sidebar-element-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 360px;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  background: url(../img/capitel.png) #f4f4f6 no-repeat right bottom;
}

.sidebar-element-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 360px;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  background: url(../img/top3.png) #f4f4f6 no-repeat right bottom;
}

.h1 {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}

.h2 {
  font-size: 14px;
  color: #8890a1;
  line-height: 20px;
  margin-bottom: 10px;
  /*================= НОВОСТИ =================*/
}

.rss-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #8890a1;
  margin-bottom: 145px;
}

.rss-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.news {
  font-size: 18px;
  line-height: 25px;
}

.news-date {
  margin-bottom: 15px;
}

/*======================= П О Д В А Л =========================*/
.footer {
  width: 100%;
  height: 470px;
  background-color: #1e1f28;
}

.footer-row {
  padding-top: 60px;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 230px;
}

.title-top {
  width: auto;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.title-link {
  color: #8890a1;
  margin-bottom: 28px;
  line-height: 18px;
}
/*# sourceMappingURL=style.css.map */