/*================ СОДЕРЖАНИЕ СТРАНИЦЫ ===================*/
/*==================== слайдер ======================*/
.mainscreen {
	/* Back Main screen */
	width: 100%;
	height: 590px;
	background-color: rgba(136, 144, 161, 0.2);
	margin-bottom: 74px;

	.slider {
		display: flex;
		justify-content: space-between;
		height: 590px;
		flex-direction: row;
		font-family: Graphik;
		color: rgb(0, 0, 0);
		//border: 1px solid green;
	}
	.content-slider {
		// .content-slider__left

		&__left {
			//border: 1px solid green;
			h1 {
				font-weight: 700;
				font-size: 70px;
				line-height: 80px;
				margin-top: 12%;
			}

			h2 {
				font-weight: 200;
				font-size: 18px;
				line-height: 25px;
				color: #8890a1;
				margin-top: 4%;
			}

			.button {
				margin-top: 6%;
			}
			.pagination {
				margin-top: 5%;
			}
		}
	}

	.content-slider {
		// .content-slider__right

		&__right {
			//border: 1px solid green;
			align-self: flex-end;
		}
	}
	.slider {
		// .slider__image
		&__image {
			text-align: right;
		}
	}
}
/*==============  конец слайдера =============*/

/*============== текст УСЛУГИ... ============*/
.title {
	font-size: 35px;
	font-weight: 700;
}

/*============== блоки БРОКЕРСКОЕ ОБСЛУЖИВАНИЕ и ЕВРООБЛИГАЦИИ ============*/

.fotolink-content {
	//border: 1px solid green;
	flex-wrap: nowrap;
	display: flex;
	justify-content: space-between;

	.block-and-arrow {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 570px;
		margin-top: 20px;
		flex: 1 1 auto;
		border: 1px solid rgba(136, 144, 161, 0.2);

		.fotolink-left {
			display: flex;
			background: #acaccd;
			background: url(../img/top1.png) no-repeat right bottom #acaccd;
			height: 360px;
		}
		.fotolink-right {
			display: flex;
			background: url(../img/top2.png) no-repeat right bottom #bea08b;
			height: 360px;
		}
	}
}

.fotolink-title {
	color: white;
	margin: 7% 0px 0px 29px;
	max-width: 60%;

	.title-top {
		text-transform: uppercase;
		font-size: 12px;
	}
	.title-middle {
		margin: 16% 0px 0px 0px;
		font-weight: bold;
		font-size: 25px;
		line-height: 30px;
	}
	.title-buttom {
		margin: 8% 0px 0px 0px;
		font-size: 14px;
		line-height: 20px;
	}
}

.block-arrow {
	//border: 1px solid green;
	display: flex;
	justify-content: space-between;
	background: rgba(136, 144, 161, 0.1);
	border: 1px solid rgba(136, 144, 161, 0.2);
	box-sizing: border-box;
	padding: 20px 29px 20px 29px;
	font-size: 18px;
	font-weight: 500;
	color: #8890a1;
	flex: 1 1 auto;
}

/*=======заголовки блоков КУРС валют и МОНЕТЫ*=======*/
.container-title {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

	.exchange-monets-title {
		max-width: 570px;
		flex-grow: 1;
		font-size: 18px;

		.block-first-title {
			display: flex;
			margin: 50px 0px 20px 0px;

			.first-title {
				font-weight: 500;
				margin: 0px 20px 0px 20px;
				color: #ff5d39;
			}
			.date {
				color: #8890a1;
			}
		}
	}
}

/*============== блоки КУРС ВАЛЮТ и МОНЕТЫ ============*/

.block-foto {
	background: white;
	height: 430px;
	> img {
		max-width: 100%;
		padding: 29px;
	}
}

/*============= блок КАРТЫ =============*/

.block-cards {
	display: flex;
	background: url(../img/cards.png) no-repeat right bottom rgba(136, 144, 161, 0.1);
	margin: 30px 0px 30px 0px;
	height: auto;
}
.slider-left {
	display: flex;
	max-width: 320px;
	flex-direction: column;
	margin: 25px 0px 25px 40px;
}

.textlink {
	color: #003db1;
	font-weight: 500;
}
.button {
	margin-top: 10px;
}

/*========= сайдбар 1 ======*/

.sidebar-row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 370px;
	margin-bottom: 30px;
}

.sidebar-column-1 {
	display: flex;
	background: url(../img/fhone.png) #f4f4f6 no-repeat right bottom;
	flex: 1 1 auto;
	margin: 0 30px 0 0;
}

.sidebar-column-2 {
	display: flex;
	background: url(../img/rock1.png) #f4f4f6 no-repeat right bottom;
	flex: 1 1 auto;
	margin: 0 0 0px 30px;
}

.sidebar-text {
	max-width: 350px;
	padding: 30px 30px 0px 40px;
}

.sidebar-element-1 {
	flex: 0 0 360px;
	background: url(../img/capitel.png) #f4f4f6 no-repeat right bottom;
}

.sidebar-element-2 {
	flex: 0 0 360px;
	background: url(../img/top3.png) #f4f4f6 no-repeat right bottom;
}

.h1 {
	//border: 1px solid red;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 10px;
}
.h2 {
	font-size: 14px;
	color: #8890a1;
	line-height: 20px;
	margin-bottom: 10px;

	/*================= НОВОСТИ =================*/
}
.rss-row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	color: #8890a1;
	margin-bottom: 145px;
}
.rss-column {
	display: flex;
}
.news {
	font-size: 18px;
	line-height: 25px;
}
.news-date {
	margin-bottom: 15px;
}
