//<МИКСИНЫ>===============================================================================================
@import "_mixins";
//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Graphik";
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 1030.98;
$md3: 767.98;
$md4: 479.98;
//файл обнуляющих стилей
@import "_null";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
	color: rgb(255, 255, 255);
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	//&.loaded {
}
//}
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	font-family: Graphik;
	color: #000000;
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
@import "_header";
@import "_forms";
@import "_menu";
@import "_body";
@import "_footer";
